//- aqui debe estar las variables
//- variable del menu principal
//- -const pages = ["Ropero", "Respostero", "Comoda", "Estantes", "Mesas", "Sillas", "Camas", "Zapatero"]

//- variable para los menus de muebles
-const pages = ["roperos", "resposteros", "comodas", "estantes", "mesas", "sillas", "camas", "zapateros"]


//- BLOQUE PARA VENTA DE PRODUCTO PRINCIPAL
mixin ventacategoria(AgregarDato)
    .box
        .box_container.box__images
            img(src="assets/img/gallery/" + AgregarDato.dirIMG + AgregarDato.codigo + ".jpg" alt="foto ropero").box__image
        .box_container.box__info
            h2.box__title= AgregarDato.title
            p.box__codigo Código: 
                span= AgregarDato.codigo
            p.box__precio= AgregarDato.precio

            if AgregarDato.color
                a(href= AgregarDato.codigo + ".html").box__colores Colores

            a(href= AgregarDato.codigo + ".html").box__comprar Comprar
                i.fas.fa-shopping-cart

mixin ventapagina(AgregarVenta)
    .ventapagina
        .ventapagina__container
            .ventas-slider
                img#visor-img.ventas-slider__visor-img(src="assets/img/gallery/" + AgregarVenta.dirIMG + AgregarVenta.codigo + "a.jpg" alt="foto mueble")
                img.ventas-slider__thumbnail.ventas-slider__active(src="assets/img/gallery/" + AgregarVenta.dirIMG + AgregarVenta.codigo + "a.jpg" alt="foto mueble")
                img.ventas-slider__thumbnail(src="assets/img/gallery/" + AgregarVenta.dirIMG + AgregarVenta.codigo + "b.jpg" alt="foto mueble")
                img.ventas-slider__thumbnail(src="assets/img/gallery/" + AgregarVenta.dirIMG + AgregarVenta.codigo + "c.jpg" alt="foto mueble")
                img.ventas-slider__thumbnail(src="assets/img/gallery/" + AgregarVenta.dirIMG + AgregarVenta.codigo + "d.jpg" alt="foto mueble")

        .ventapagina__container
            .ventapagina__detalles
                .ventapagina__box
                    h2.ventapagina__title= AgregarVenta.title
                    p.ventapagina__codigo Código: 
                        span= AgregarVenta.codigo
                    p.ventapagina__precio= AgregarVenta.precio

                .ventapagina__box
                    a(href="https://wa.me/51910954568" target="_blank").ventapagina__whatsapp Consultar al
                        i.fab.fa-whatsapp

                    a(href="yape.html").ventapagina__yape Pagar con
                        img(src="assets/img/yape.png" alt="logo yape")

            a(href="nodal.html").ventapagina__comprar ¿Cómo comprar?
                i.fas.fa-shopping-cart























//- mixin venta(codigo, titulo, precio)
//-     .box
//-         .box_container.box__images
//-             img(src="assets/img/gallery/ropero/" + codigo + ".jpg" alt="foto ropero").box__image
//-         .box_container.box__info
//-             h2.box__title Ropero con Cajones y espejo
//-             p.box__precio= precio
//-             a(href= codigo + ".html").box__colores Colores
//-             a(href= codigo + ".html").box__comprar Comprar
//-                 i.fas.fa-shopping-cart

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

